{% extends "base.html" %}
{% block head %}
{% endblock %}
{% block title %}Episode{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg">
            <h1>{{ title }}</h1>
            <hr/>
            {% include 'forms/episode_form.html' %}
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script src="{{ url_for('static', filename='js/table_to_json.js') }}"></script>
<script src="{{ url_for('static', filename='js/attendee.js') }}"></script>
{% endblock %}