<div class="card">
    <div class="card-header" id="card_header_event_{{ event.id }}">
        <h5 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse"
                    data-target="#card_event_{{ event.id }}"
                    aria-expanded="true" aria-controls="card_event_{{ event.id }}">
                Collapsible Group Item #1
            </button>
        </h5>
    </div>
    <div id="card_event_{{ event.id }}" class="collapse show"
         aria-labelledby="card_header_event_{{ event.id }}"
         data-parent="#accordion_events">
        <div class="card-body">
            <p>Event {{ event.type }}</p>
        </div>
    </div>
</div>