{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="jumbotron" style="background-color:#f5f5f5">
        <h1 class="display-4">Tanzania Mesh Hernia Project Registry.</h1>
        <p class="lead">Please record details of all patients and hernias repaired with mesh in your centre.</p>
    </div>
    <div class="row">
        <div class="col-sm">
        </div>
        <div class="col-sm">
            <h1 class="h3 mb-3 font-weight-normal">Please Sign In</h1>
            <form method="post" novalidate>
                {{ form.hidden_tag() }}
                <p>
                    {{ form.username.label(class='col-form-label') }}<br/>
                    {{ form.username(class='form-control',autofocus=true,required=true) }}
                    {% for error in form.username.errors %}
                <div class="alert alert-danger" role="alert">
                    [{{ error }}]
                </div>
                {% endfor %}
                <p>
                    {{ form.password.label(class='col-form-label') }}<br/>
                    {{ form.password(class='form-control',required=true) }}
                </p>
                {% for error in form.username.errors %}
                <div class="alert alert-danger" role="alert">
                    [{{ error }}]
                </div>
                {% endfor %}
                <p>{{ form.submit(class='btn btn-lg btn-primary btn-block') }}</p>
            </form>
        </div>
        <div class="col-sm">
        </div>
    </div>
    <hr/>
    <div class="row">
        <p><i>The Tanzania Mesh Hernia Project Registry is a joint project between <a
                href="http://swiftss.org">SWIFTSS</a>
            and the TSA.</i></p>
    </div>
    <div class="row">
        <p><img src="{{ url_for('static', filename='tsa-logo-transparent.png') }}" height="162"/></p>
        <p><img src="{{ url_for('static', filename='swiftss-logo-large.png') }}" height="162"/></p>
    </div>
</div>
{% endblock %}