{% extends "base.html" %}
{% block content %}
<div class="container">
    {% if form.id.data %}
    <div class="row">
        <div class="col-md-auto"><h4>Record New</h4></div>
        <div class="col-md-auto">
            <a class="btn btn-primary" href="{{ url_for('event_create', type='Followup') }}" role="button">
                Out-Patient Follow-Up</a>
            <a class="btn btn-primary" href="{{ url_for('event_create', type='Followup') }}" role="button">
                Patient Discharge</a>
            <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="surgery_dropdown_menu_link"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Hernia Repair
            </a>
            <div class="dropdown-menu" aria-labelledby="surgery_dropdown_menu_link">
                <a class="dropdown-item" href="{{ url_for('event_create', type='InguinalMeshHerniaRepair') }}"
                   role="button">Inguinal Mesh Hernia Repair</a>
                <a class="dropdown-item disabled" href="{{ url_for('not_implemented') }}"
                   role="button">Incisional Hernia Repair</a>
                <a class="dropdown-item disabled" href="{{ url_for('not_implemented') }}"
                   role="button">Femoral Hernia Repair</a>
                <a class="dropdown-item disabled" href="{{ url_for('not_implemented') }}"
                   role="button">Hiatus Hernia Repair</a>
                <a class="dropdown-item disabled" href="{{ url_for('not_implemented') }}"
                   role="button">Umbilical/Periumbilical Hernia Repair</a>
            </div>
        </div>
    </div>
    <br/>
    {% endif %}
    <div class="row">
        <div class="col-sm">
            <div class="accordion" id="accordion_patient">
                <div class="card">
                    <div class="card-header" id="card_header_patient">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                    data-target="#card_patient"
                                    aria-expanded="true" aria-controls="card_patient">
                                <h1>{{title}}</h1>
                            </button>
                        </h5>
                    </div>
                    <div id="card_patient" class="collapse show"
                         aria-labelledby="card_header_patient"
                         data-parent="#accordion_patient">
                        <div class="card-body">
                            <p>{% include 'forms/patient_form.html' %}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% if events %}
            <div class="accordion" id="accordion_events">
                {% for event in events %}
                {% include 'event_card.html' %}
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script src="{{ url_for('static', filename='js/typeahead.js/typeahead.bundle.js') }}"></script>
<script src="{{ url_for('static', filename='js/patient.js') }}"></script>
{% endblock %}