{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="accordion" id="accordion_patient">
                <div class="card">
                    <div class="card-header" id="card_header_patient">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                    data-target="#card_patient"
                                    aria-expanded="true" aria-controls="card_patient">
                                <h1>{{title}}</h1>
                            </button>
                        </h5>
                    </div>
                    <div id="card_patient" class="collapse show"
                         aria-labelledby="card_header_patient"
                         data-parent="#accordion_patient">
                        <div class="card-body">
                            <p>{% include 'forms/patient_form.html' %}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% if events %}
            <div class="accordion" id="accordion_events">
                {% for event in events %}
                {% include 'event_card.html' %}
                {% endfor %}
            </div>
            {% endif %}
            <hr/>
            <h2>Care Events</h2>
            <p>
                <button class="btn btn-primary" type="button" onclick="new_event('follow-up')">Record a new Follow-Up</button>
                <button class="btn btn-primary" type="button" onclick="new_event('hernia')">Record a new Mesh Hernia Repair</button>
            </p>

        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script src="{{ url_for('static', filename='js/typeahead.js/typeahead.bundle.js') }}"></script>
<script src="{{ url_for('static', filename='js/patient.js') }}"></script>
{% endblock %}